<div class="container" style="margin-top: 100px;margin-bottom:100px">
    <div class="row">
        {{!-- <div class="row-md-5"> --}}
        <div class="col-5">
            <img src="/images/{{imgSrc}}" class="col-12" />
        </div>
        {{!-- </div> --}}
        <div class="discribtion">
            <p>{{describe}}</p>
            <div style="margin-top:15px">price: ${{price}}</div>
            <div style="margin-top:15px">number: {{number}}</div>
            {{!-- <div> --}}

            {{!-- </div> --}}
            <form action="/meal-packages/{{id}}/{{price}}/add-to-order" method="POST">
                <button class="btn btn-success" style="color: white;margin-top:15px">Add to order</button>
                <input type="number" name="number" value="1" />
            </form>
        </div>
    </div>
</div>